footer.footer
    img(src="img/footer-flag.png", alt="")
    .container
        .footer-all
            .footer-all__contact
                .contact-logo
                    a(href="#")
                        img(src="img/logo2.svg", alt="")
                .contact-email
                    a(href="#")
                        .email-logo
                            img(src="img/email2.svg", alt="")
                        .email-text arturkarimov.ru
                .contact-socials
                    .socials-item
                        a(href="#")
                            img(src="img/vk.svg", alt="")
                    .socials-item
                        a(href="#")
                            img(src="img/ok.svg", alt="")
                    .socials-item
                        a(href="#")
                            img(src="img/telegram.svg", alt="")
                    .socials-item
                        a(href="#")
                            img(src="img/facebook.svg", alt="")
            .footer-all__nav
                .nav-list
                    .nav-list__item
                        a(href="#").active О депутате
                    .nav-list__item
                        a(href="#") Достижения
                    .nav-list__item
                        a(href="#") Помощники
                    .nav-list__item
                        a(href="#") Новости
                    .nav-list__item
                        a(href="#") Приемная
                    .nav-list__item
                        a(href="#") Контакты
            .footer-all__form
                form(action="#")
                    input(type="text", placeholder="Имя")
                    input(type="tel", placeholder="Телефон")
                    input(type="email", placeholder="Email")
                    .button.click-modal Обращение