header.header
    .header-all
        .header-all__logo
            a(href="#")
                img(src="img/logo.svg", alt="")
        .header-all__email
            a(href="#")
                .email-logo
                    img(src="img/email.svg", alt="")
                .email-text arturkarimov.ru
        .header-all__nav
            .nav-list
                .nav-list__item
                    a(href="#").active О депутате
                .nav-list__item
                    a.achiev-click(href="#") Достижения
                .nav-list__item
                    a.helpers-click(href="#") Помощники
                .nav-list__item
                    a.news-click(href="#") Новости
                .nav-list__item
                    a.recemption-click(href="#") Приемная
                .nav-list__item
                    a.contact-click(href="#") Контакты
        .menu-wrapper
            .hamburger-menu
    