.link
    .link-all
        .link-all__arrow
            img.linkArrow(src="img/arrow4.svg", alt="")
        .link-all__socials
            .socials-item
                a(href="#")
                    img(src="img/vk.svg", alt="")
            .socials-item
                a(href="#")
                    img(src="img/ok.svg", alt="")
            .socials-item
                a(href="#")
                    img(src="img/telegram.svg", alt="")
            .socials-item
                a(href="#")
                    img(src="img/facebook.svg", alt="")